include README.rst requirements.txt LICENSE
recursive-include geoportail/templates *
recursive-include geoportail/map/static *
recursive-include geoportail/map/templates *
recursive-exclude geoportail *.pyc
recursive-exclude geoportail *.scss
exclude geoportail/settings.py
