html, body {
	margin: 0;
	padding: 0;
	font: 105% Helvetica, Arial, sans-serif;
}

.gpMainMapCell, .gpMainMap {
	border: none;
}

.gpMainMap a {
	font-size: 0.7em;
}

.relative {
	position: relative;
	padding: 5px;
}

#actions {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

#menu {
	position: absolute;
	top: 0;
	color: #ccc;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;

	a {
		color: #ccc;
		text-decoration: none;

		&:hover, &.selected {
			color: #fff;
		}
	}

	input {
		font: 105% Helvetica, Arial, sans-serif;

		&[type=text], &[type=search] {
			background-color: #eee;
			color: #000;
			padding: 2px;
			border: none;
			border-bottom: 1px solid #aaa;
			border-right: 1px solid #aaa;
			border-radius: 2px;
			width: 350px;

			&:focus {
				background-color: #fff;
			}
		}
	}
}

#map_OlMap {
	border: none !important;
	cursor: default !important;
}
