html, body {
	margin: 0;
	padding: 0;
	font: 105% Helvetica, Arial, sans-serif;
	height: 100%;
}

.gpMainMapCell, .gpMainMap {
	border: none;
}

.gpMainMap a {
	font-size: 0.7em;
}

.relative {
	position: relative;
	padding: 5px;
}

#permalink {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../img/link.png') no-repeat;
	opacity: 0.8;
	text-indent: -9999px;
	margin: 0 5px;
	outline: none;

	&:hover {
		opacity: 1;
	}
}

.permalink {
	font-size: 0.8rem;
	margin-left: 5px;
}

#actions {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

#map {
	width: 100%;
	height: 100%;
}

.close {
	display: inline-block;
	width: 15px;
	height: 15px;
	font-size: 1.6em;
	padding-bottom: 6px;
	margin-left: 5px;
}

#menu {
	position: absolute;
	top: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;

	a {
		color: inherit;
		opacity: 0.8;
		text-decoration: none;

		&:hover, &.selected {
			opacity: 1;
		}
	}

	input {
		font: 105% Helvetica, Arial, sans-serif;

		&[type=text], &[type=search] {
			background-color: #eee;
			color: #000;
			padding: 2px;
			border: none;
			border-bottom: 1px solid #aaa;
			border-right: 1px solid #aaa;
			border-radius: 2px;
			width: 350px;

			&:focus {
				background-color: #fff;
			}
		}

		&.permalink {
			font-size: 0.8rem;
			width: 150px;
		}
	}
}

#map_OlMap {
	border: none !important;
	cursor: default !important;
}
