.results {
	margin-top: 7px;
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	overflow: hidden;
	z-index: 99999;
	position: absolute;
	width: 350px;
	top: 35px;
	left: 5px;

	ul {
		width: 100%;
		list-style-position: outside;
		list-style: none;
		padding: 0;
		margin: 0;
		max-height: 590px;
		overflow: auto;
	}

	li {
		position: relative;
		margin: 0px;
		display: block;
		overflow: hidden;
	}

	em {
		position: absolute;
		right: 5px;
		color: #888;
	}

	a {
		display: block;
		color: #ccc;
		text-decoration: none;
		padding: 5px;

		&:hover {
			color: white;

			em {
				color: #aaa;
			}
		}
	}
}
