html, body {
	margin: 0;
	padding: 0;
	font: 105% Helvetica, Arial, sans-serif;
	height: 100%;
}

.relative {
	position: relative;
	padding: 5px;
}

#actions {
	position: absolute;
	bottom: 10px;
	right: 5px;
}

#map {
	width: 100%;
	height: 100%;

	.loading {
		position: absolute;
		top: 300px;
		left: 50%;
		margin-left: -85px;
		color: #ddd;
		font-size: 2em;
		font-weight: bold;
	}
}

.close {
	display: inline-block;
	width: 15px;
	height: 15px;
	font-size: 1.6em;
	padding-bottom: 6px;
	margin-left: 5px;
}

#menu {
	position: absolute;
	top: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;

	#actions a {
		color: inherit;
		opacity: 0.8;
		text-decoration: none;

		&:hover, &.selected {
			opacity: 1;
		}
	}

	input {
		font: 105% Helvetica, Arial, sans-serif;

		&[type=text], &[type=search] {
			background-color: #eee;
			color: #000;
			padding: 2px;
			border: none;
			border-bottom: 1px solid #aaa;
			border-right: 1px solid #aaa;
			border-radius: 2px;
			width: 350px;

			&:focus {
				background-color: #fff;
			}
		}
	}
}
