{% extends "base.html" %}
{% load i18n staticfiles %}
{% load url from future %}

{% block content %}
	<div id="map" gp-map gp-capabilities="{% static "map/wmts.xml" %}" gp-key="{{ api_key }}">
		<div class="loading">{% trans "Loading…" %}</div>
	</div>

	<div id="menu" ng-cloak>
		<div class="relative">
			<span ng-controller="AutocompleteController" ng-init="init('{% url "autocomplete" %}')">
				<input ng-model="search" type="search" placeholder="{% trans "Go to…" %}">
				<div class="results" ng-show="results.length">
					<ul>
						<li ng-repeat="result in results">
							{% verbatim %}<a href="#" ng-click="focus(result)">{{ result.name }} <em>{{ result.county_name }}</em></a>{% endverbatim %}
						</li>
					</ul>
				</div>
			</span>

			<span id="actions" ng-controller="LayerController">
				<a id="maps" href="#" gp-switch>{% trans "Maps" %}</a>
				<a id="satellite" href="#" gp-switch>{% trans "Satellite" %}</a>
				<a id="cadastre" href="#" gp-switch>{% trans "Cadastre" %}</a>
			</span>
		</div>
	</div>
{% endblock %}

{% block extrabody %}{{ block.super }}
<script type="text/javascript" src="{% static "map/js/proj4js.min.js" %}"></script>
<script type="text/javascript" src="{% static "map/js/ol.min.js" %}"></script>
<script type="text/javascript" src="{% static "map/js/angular.min.js" %}"></script>
<script type="text/javascript" src="{% static "map/js/underscore.min.js" %}"></script>
<script type="text/javascript" src="{% static "map/js/map.js" %}"></script>
{% endblock %}
